*.a
*.bundle
*.dll
*.dylib
*.o
*.orig
*.so
*~
.deps
aclocal.m4
autom4te.cache
build
buildsys.mk
config.h
config.h.in
config.log
config.status
configure
DerivedData
docs
extra.mk
generators/gen_tables
generators/gen_tables.exe
generators/CaseFolding.txt
generators/UnicodeData.txt
Info.plist
ObjFW.xcodeproj/*.mode1v3
ObjFW.xcodeproj/*.pbxuser
ObjFW.xcodeproj/project.xcworkspace
ObjFW.xcodeproj/xcuserdata
src/objfw-defs.h
src/ObjFW
tests/tests
tests/tests.exe
tests/EBOOT.PBP
tests/PARAM.SFO
tests/objc_sync/objc_sync
utils/objfw-config
