*.a
*.bundle
*.dll
*.dylib
*.library
*.o
*.orig
*.so
*.so.*
*~
.deps
aclocal.m4
autom4te.cache
boot.dol
build
buildsys.mk
config.h
config.h.in
config.log
config.status
configure
DerivedData
docs
extra.mk
generators/gen_tables
generators/gen_tables.exe
src/Info.plist
src/ObjFW.framework
src/bridge/Info.plist
src/bridge/ObjFWBridge.framework
src/objfw-defs.h
src/runtime/ObjFWRT.framework
src/runtime/amiga-library-functable.inc
src/runtime/inline.h
tests/*.map
tests/EBOOT.PBP
tests/Info.plist
tests/PARAM.SFO
tests/iOS.xcodeproj/*.pbxuser
tests/iOS.xcodeproj/project.xcworkspace
tests/iOS.xcodeproj/xcuserdata
tests/objc_sync/objc_sync
tests/plugin/Info.plist
tests/tests
tests/tests.3dsx
tests/tests.arm9
tests/tests.exe
tests/tests.nds
utils/objfw-config
utils/ofarc/ofarc
utils/ofarc/ofarc.exe
utils/ofdns/ofdns
utils/ofdns/ofdns.exe
utils/ofhash/ofhash
utils/ofhash/ofhash.exe
utils/ofhttp/ofhttp
utils/ofhttp/ofhttp.exe
