*.a
*.bundle
*.dll
*.dylib
*.o
*.orig
*.so
*.so.*
*~
.deps
aclocal.m4
autom4te.cache
boot.dol
build
buildsys.mk
config.h
config.h.in
config.log
config.status
configure
DerivedData
docs
extra.mk
generators/gen_tables
generators/gen_tables.exe
ObjFW.xcodeproj/*.mode1v3
ObjFW.xcodeproj/*.pbxuser
ObjFW.xcodeproj/project.xcworkspace
ObjFW.xcodeproj/xcuserdata
src/objfw-defs.h
src/ObjFW
support/Bridge-Info.plist
support/Info.plist
tests/*.map
tests/tests
tests/tests.arm9
tests/tests.exe
tests/tests.nds
tests/EBOOT.PBP
tests/PARAM.SFO
tests/objc_sync/objc_sync
utils/objfw-config
utils/ofzip/ofzip
utils/ofzip/ofzip.exe
