name: ios
on: [push, pull_request]
jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        arch:
          - arm64
          - x86_64
        configure_flags:
          -
          - --disable-shared
    steps:
    - name: Install dependencies
      run: brew install autoconf automake
    - name: Build Mbed TLS
      run: |
        mbedtls="mbedtls-3.6.3"
        wget https://github.com/Mbed-TLS/mbedtls/releases/download/$mbedtls/$mbedtls.tar.bz2
        tar xfj $mbedtls.tar.bz2
        cd $mbedtls
        mkdir build && cd build
        export IPHONEOS_DEPLOYMENT_TARGET="9.0"
        if [ "${{ matrix.arch}}" = "x86_64" ]; then
          sdk="iphonesimulator"
        else
          sdk="iphoneos"
        fi
        export CC="clang -arch ${{ matrix.arch }}"
        cmake .. -DCMAKE_SYSTEM_NAME=iOS -DCMAKE_OSX_SYSROOT="$(xcrun --sdk $sdk --show-sdk-path)" -DCMAKE_INSTALL_PREFIX="/usr/local/$sdk"
        make -j$(sysctl -n hw.logicalcpu)
        sudo make install
    - uses: actions/checkout@v4
    - name: autogen.sh
      run: ./autogen.sh
    - name: configure
      run: |
        export IPHONEOS_DEPLOYMENT_TARGET="9.0"
        if [ "${{ matrix.arch}}" = "x86_64" ]; then
          sdk="iphonesimulator"
        else
          sdk="iphoneos"
        fi
        export OBJC="clang -isysroot $(xcrun --sdk $sdk --show-sdk-path)"
        export OBJC="$OBJC -arch ${{ matrix.arch }}"
        ./configure --host=${{ matrix.arch }}-apple-darwin --with-tls=mbedtls \
          --prefix="/usr/local/$sdk" \
          CPPFLAGS="-I/usr/local/$sdk/include" LIBS="-L/usr/local/$sdk/lib" \
          ${{ matrix.configure_flags }}
    - name: make
      run: make -j$(sysctl -n hw.logicalcpu)
    - name: make install
      run: sudo make install
